:root {
  --bg: hsl(192, 89%, 80%);
  --info-bg: hsl(192, 89%, 92%);
  --cell-bg-even: #FFA6C3;
  --cell-bg-odd: #9ACD8C;
  --cell-bg-empty: hsl(0, 0%, 83%);
  --cell-progress: yellow;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  overflow-x: scroll;
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-size: 11px;
  letter-spacing: -0.5pt;
}

.blur2px {
  filter: blur(2px);
}

dialog {
  border-radius: 10px;
  box-shadow: 6px 6px 5px hsla(0, 0%, 0%, 0.5);
}

#helpWelcome {
  font-family: "Borel", Arial;
  font-size: 10pt;
}

#helpTop {
  display: grid;
  grid-template-columns: 1fr 100px;
}

#helpTitle {
  display: inline;
  font-weight: bold;
  font-size: 12pt;
}

#imgHelp {
  width: 100px;
}

#infoBox {
  background-color: var(--info-bg);
  position: fixed;
  width: 28em;
  z-index: 100;
  outline: 1px solid black;
  padding: 0.5em;
  box-shadow: 6px 6px 5px hsla(0, 0%, 0%, 0.5);
  border-radius: 10px;
  right: 10px;
  font-family: "Borel", Arial;
  font-size: 10pt;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
}

.title {
  font-size: large;
  font-weight: bold;
  margin-top: 5px;
}

#infoProgressContainer {
  width: 100%;
  height: 12px;
  background: white;
  margin-bottom: 11px;
  box-shadow: inset 1px 1px 3px -1px black;
}

#infoProgress {
  width: 0%;
  height: 12px;
  background: var(--cell-progress);
}

#infoButtons {
  display: grid;
  grid-template-columns: 95px 95px 95px 1fr;
  grid-column-gap: 5px;
}

#cellsContainer {
  width: 1900px;
}

.cellTop {
  display: inline-block;
  position: relative;
  width: 140px;
  height: 68px;
  outline: 1px solid black;
  box-shadow: 6px 6px 5px hsla(0, 0%, 0%, 0.5);
}

.cellRowEnd {
  border-radius: 0px 10px 0px 0px;
}

.cellRowTop {
  border-radius: 10px 10px 0px 0px;
}

.cellRowBotStart {
  border-radius: 0px 0px 0px 10px;
}

.cellRowBotEnd {
  border-radius: 0px 10px 10px 0px;
}

.cellEmpty {
  background-color: var(--cell-bg-empty);
}

.cellEven {
  background-color: var(--cell-bg-even);
}

.cellOdd {
  background-color: var(--cell-bg-odd);
}

.cellProgress {
  z-index: 0;
  position: absolute;
  height: 100%;
  width: 0%;
}

.cellProgressEven {
  background: url(./p0.png) center center / cover;
}

.cellProgressOdd {
  background: url(./p1.png) center center / cover;
}

.cellFGContainer {
  display: grid;
  padding-top: 2px;
}

.cellFG {
  z-index: 30;
  position: relative;
  padding-left: 2px;
  padding-right: 3px;
  display: inline;
  background-color: #FFFFFFB8;
  justify-self: start;
}

.cellSymbol {
  position: absolute;
  right: 4px;
  top: 3px;
  width: 8px;
  height: 3px;
  background-color: black;
}

#att {
  display: inline-block;
  text-align: right;
  font-size: xx-small;
  filter: opacity(0.2);
}
